*{
    font-family: sans-serif;
}

#board{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    border: 1px solid grey;
    height: 100px;
    width: 1fr;
    font-size: 60px;
    text-align: center;
}