*{
    font-family: sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell{
    border: 2px solid grey;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.cell:hover{
    background-color: #eeeeee;
}

.turn {
    font-size: larger;
    text-align: center;
    padding: 1.5em;
}

.button{
    display: block;
    margin: auto;
    padding: 10px 50px;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}