*{
    font-family: sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell{
    border: 2px solid grey;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turn {
    text-align: center;
}

.button{
    display: block;
    margin: auto;
}